body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

header {
    background: rgba(0, 0, 0, 0.5); /* Transparent background */
    color: #fff;
}

nav ul li a {
    color: #fff;
}

main {
    background: url('../images/background.png') no-repeat center center;
    background-size: cover;
}

footer {
    background-color: #333;
}
